@import "index.css";
@import "post.css";
@import "buttons.css";

.container {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  grid-area: hd;
  background-color: dodgerblue;
  border-radius: 10px;
}
.sidebar {
  grid-area: sbar;
  border-radius: 10px;
}

.footer {
  grid-area: ft;
  text-align: center;
}

.blog-title {
  color: gainsboro;
  font-size: xx-large;
  padding-left: 10px;
  padding-top: 10px;
}

h1 {
  color: darkgrey;
  font-size: x-large;
}

h2 {
  font-size: large;
}

.light-text-color {
  color: blanchedalmond;
}